:root {
  --main-bg-color: #000000;
  --selected-bg-color: #000000;
  --control-bg-color: #000000;
  --focus-text-color: #00ACFF;
  --defocus-text-color: #006798;
  --focus-border-color: #000000;
  --defocus-border-color: #000000;
  --page_height: 640px;
  --head_height: 60px;
  --list_height: 580px;
  
  --page_width: 480px;
  --current_width: 380px;
  --list_width: 410px;
  --scrollbar_width: 60px;
  --icon_size: 40px;
}
body{
height:var(--page_height);
width:var(--page_width);
max-height:var(--page_height);
max-width:var(--page_width);
background-color:#ffffff;
/*
background-color:var(--main-bg-color);
*/
font-family:'Open Sans', sans-serif;
font-family:'courier', monospace;
font-size: 2em;
font-weight: 800;
letter-spacing: -1px;
color: var(--focus-text-color);
overflow-x: hidden;
overflow-y: hidden;
}
#head{
font-size: 1.1em;
height:var(--head_height);
background-color:var(--main-bg-color);
}
#current{
float: left;
height:1em;
max-height:1em;
width:var(--current_width);
max-width:var(--current_width);
overflow: hidden;
background-color:var(--main-bg-color);
border-color:var(--focus-border-color);
border-style: solid;
border-width: 1px;
border-radius: 4px;
padding: 0px 5px 0px 5px;
line-height:36px;
vertical-align:middle;
}
#status_left,#status_right{
float: left;
height:var(--icon_size);
max-height:var(--icon_size);
width:var(--icon_size);
max-width:var(--icon_size);
overflow: hidden;
background-color:var(--main-bg-color);
border-color:var(--focus-border-color);
border-style: solid;
border-width: 1px;
border-radius: 4px;
line-height:2em;
vertical-align:middle;
margin-top: 6px;

}
#waitIcon{
width: var(--icon_size);
}
#syncIcon{
width: var(--icon_size);
display:none
}
#pauseIcon{
width: var(--icon_size);
display:none
}
#soundIcon{
width: var(--icon_size);
display:none
}
.svgIcon{
fill: #00ACFF;
}
#radio_list{
/*
height:270px;
*/
/*
max-height:270px;
*/
height:var(--list_height);
max-height:var(--list_height);
background-color:var(--main-bg-color);
display:block;
overflow-y: scroll;
overflow-x: hidden;
}
.radio_list_entry{
height:2em;
max-height:2em;
line-height:2em;
width:var(--list_width);
max-width:var(--list_width);
overflow: hidden;
background-color:grey;
border-color:var(--focus-border-color);
border-style: solid;
border-width: 1px;
border-radius: 4px;
margin: 5px;
padding: 0px 5px 0px 5px;
vertical-align:middle;
}

.hidden{
display:none
}
.shown{
display:block
}
.current{
background-color:var(--selected-bg-color);
border-color:var(--focus-border-color);
color: var(--focus-text-color);
border-left: solid 2px var(--focus-text-color);
}
.unselected{
background-color:var(--main-bg-color);
border-color:var(--defocus-border-color);
color: var(--defocus-text-color)
}

::-webkit-scrollbar {
    width: var(--scrollbar_width);
    height: 2em
}
::-webkit-scrollbar-button {
    background: var(--control-bg-color)
}
::-webkit-scrollbar-track-piece {
    background: var(--main-bg-color)
}
::-webkit-scrollbar-thumb {
    background: var(--control-bg-color);
    border-style: solid;
    border-width: 1px;
    border-color:var(--defocus-text-color);
}​
